#container {
    width: 100%;
}
#header {
    background-color: #db4544;
    height: 54px;
    width: 100%;
    float: top;
    text-align: center;
}

#logo{
	background-color:#a9201e;
	width:50px;
	height:50px;
	padding:2px;
	float:left;
}

#header  span{
	display:block;
}

#title{
	float:left;
	color:#fff;
	line-height:40px;
	margin:7px;
	font-size:25px;
	font-family:Microsoft YaHei;
}

#name{
	float:right;
	color:#fff;
	font-size:15px;
	font-family:Microsoft YaHei;
	line-height:30px;
	margin:12px;
}

#menu {
    background-color: #101b2a;
    font-size: 16px;
    height: 100%;
    width: 170px;
    float: left;
    padding: 0px;
    margin: 0px;
}
#mainbody {
    background-color: #ffffff;
    height: 100%;
    width: 700px;
    float: left;
}
#footer {
    background-color: #99bbbb;
    clear: both;
    float: bottom;
    text-align: center;
}
#menu ul {
    width: 150px;
    margin: 0;
    list-style-type: none;
    padding: 0px;
    background-color: #101b2a;
}
#menu ul li {
    width: 150px;
    background-color: #000000;
	font-weight: bold;
}
#menu ul li a {
    display: block;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    padding: 10px 0px 10px 30px;
    font-size: 16px;
}
#menu ul li a:hover {
    color: #ffffff;
    text-align: left;
    text-decoration: none; 
    padding: 10px 0px 10px 30px;
    font-size: 16px;
}
#menu ul li ul {
    list-style-type: none
}
#menu ul li ul li {
    width: 150px;
}
#menu ul li ul li a {
    display: block;
    padding: 6px 0px 6px 60px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}
#menu ul li ul li a:hover {
    padding: 6px 0px 6px 60px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: #a9201e;
}

h1 {
    margin-bottom:0;
}
h2 {
    margin-bottom:0;
    font-size:14px;
}
li {
    color: #ffffff;
}
a {
    color: #ffffff;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-style: none;
}